USE [master]
GO
/****** Object:  Database [TP1]    Script Date: 9/11/2026 7:12:22 PM ******/
CREATE DATABASE [TP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\TP1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\TP1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP1]
GO
/****** Object:  Table [dbo].[Nacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidad](
	[idNacionalidad] [int] NOT NULL,
	[descNacionalidad] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[idNacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[idPersona] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[sexo] [char](2) NOT NULL,
	[idNacionalidad] [int] NOT NULL,
	[idProfesion] [int] NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProfesion](
	[idProfesion] [int] NOT NULL,
	[descProfesion] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_TipoProfesion] PRIMARY KEY CLUSTERED 
(
	[idProfesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Nacionalidad] ([idNacionalidad], [descNacionalidad]) VALUES (1, N'Argentino')
INSERT [dbo].[Nacionalidad] ([idNacionalidad], [descNacionalidad]) VALUES (2, N'Boliviano')
GO
INSERT [dbo].[Persona] ([idPersona], [nombre], [apellido], [edad], [sexo], [idNacionalidad], [idProfesion]) VALUES (1, N'Ro', N'Diaz', 16, N'F ', 2, 1)
GO
INSERT [dbo].[TipoProfesion] ([idProfesion], [descProfesion]) VALUES (1, N'Oficinista')
INSERT [dbo].[TipoProfesion] ([idProfesion], [descProfesion]) VALUES (2, N'Vendedor')
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Nacionalidad] FOREIGN KEY([idNacionalidad])
REFERENCES [dbo].[Nacionalidad] ([idNacionalidad])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Nacionalidad]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_TipoProfesion] FOREIGN KEY([idProfesion])
REFERENCES [dbo].[TipoProfesion] ([idProfesion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_TipoProfesion]
GO
/****** Object:  StoredProcedure [dbo].[AltaNacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[AltaNacionalidad]
	@descNacionalidad nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Nacionalidad (idNacionalidad, descNacionalidad)
	VALUES ((SELECT ISNULL(MAX(idNacionalidad), 0) + 1 FROM Nacionalidad), @descNacionalidad)
END

GO
/****** Object:  StoredProcedure [dbo].[AltaPersona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[AltaPersona]
	@nombre nvarchar(50),
	@apellido nvarchar(50),
	@edad int,
	@sexo char(2),
	@idNacionalidad int,
	@idProfesion int
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Persona (idPersona, nombre, apellido, edad, sexo, idNacionalidad, idProfesion)
	VALUES ((SELECT ISNULL(MAX(idPersona), 0) + 1 FROM Persona), @nombre, @apellido, @edad, @sexo, @idNacionalidad, @idProfesion)
END

GO
/****** Object:  StoredProcedure [dbo].[AltaTipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- TipoProfesion
CREATE PROCEDURE [dbo].[AltaTipoProfesion]
	@descProfesion nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO TipoProfesion (idProfesion, descProfesion)
	VALUES ((SELECT ISNULL(MAX(idProfesion), 0) + 1 FROM TipoProfesion), @descProfesion)
END

GO
/****** Object:  StoredProcedure [dbo].[BajaNacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Nacionalidad
CREATE PROCEDURE [dbo].[BajaNacionalidad]
	@idNacionalidad int
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM Nacionalidad WHERE idNacionalidad = @idNacionalidad
END

GO
/****** Object:  StoredProcedure [dbo].[BajaPersona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[BajaPersona] 
	--Parametros
	
	@idPersona int
AS
BEGIN	
	

    -- Insert statements for procedure here
 DELETE FROM Persona WHERE idPersona = @idPersona
END
GO
/****** Object:  StoredProcedure [dbo].[BajaTipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[BajaTipoProfesion]
	@idProfesion int
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM TipoProfesion WHERE idProfesion = @idProfesion
END

GO
/****** Object:  StoredProcedure [dbo].[FindPersona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[FindPersona] 
	--Parametros
	@idPersona int
	
AS
BEGIN	
	

    -- Insert statements for procedure here
 SELECT * FROM Persona Where idPersona = @idPersona
END
GO
/****** Object:  StoredProcedure [dbo].[ListadoNacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[ListadoNacionalidad]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT idNacionalidad, descNacionalidad FROM Nacionalidad
END

GO
/****** Object:  StoredProcedure [dbo].[ListadoPersona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- Persona
CREATE PROCEDURE [dbo].[ListadoPersona]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT idPersona, nombre, apellido, edad, sexo, idNacionalidad, idProfesion
	FROM Persona
END

GO
/****** Object:  StoredProcedure [dbo].[ListadoTipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[ListadoTipoProfesion]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT idProfesion, descProfesion FROM TipoProfesion
END

GO
/****** Object:  StoredProcedure [dbo].[ResumenGeneral]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ResumenGeneral]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		COUNT(*)         AS Cantidad,
		AVG(edad*1.0)    AS PromedioEdad,
		MIN(edad)        AS EdadMinima,
		MAX(edad)        AS EdadMaxima
	FROM Persona
END

GO
/****** Object:  StoredProcedure [dbo].[ResumenPorNacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[ResumenPorNacionalidad]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		n.idNacionalidad,
		n.descNacionalidad,
		COUNT(p.idPersona)   AS Cantidad,
		AVG(p.edad*1.0)      AS PromedioEdad
	FROM Nacionalidad n
	LEFT JOIN Persona p ON p.idNacionalidad = n.idNacionalidad
	GROUP BY n.idNacionalidad, n.descNacionalidad
	ORDER BY Cantidad DESC
END

GO
/****** Object:  StoredProcedure [dbo].[ResumenPorTipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ResumenPorTipoProfesion]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		tp.idProfesion,
		tp.descProfesion,
		COUNT(p.idPersona)   AS Cantidad,
		AVG(p.edad*1.0)      AS PromedioEdad
	FROM TipoProfesion tp
	LEFT JOIN Persona p ON p.idProfesion = tp.idProfesion
	GROUP BY tp.idProfesion, tp.descProfesion
	ORDER BY Cantidad DESC
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateNacionalidad]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[UpdateNacionalidad]
	@idNacionalidad int,
	@descNacionalidad nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Nacionalidad
		SET descNacionalidad = @descNacionalidad
		WHERE idNacionalidad = @idNacionalidad
END

GO
/****** Object:  StoredProcedure [dbo].[UpdatePersona]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePersona] 
	--Parametros
	@idPersona int,
	@nombre nvarchar(50),
	@apellido nvarchar(50),
	@edad int,
	@sexo char(2),
    @idNacionalidad int,
    @idProfesion int
AS
BEGIN	
	

    -- Insert statements for procedure here
 UPDATE Persona 
 	SET nombre = @nombre,
		apellido = @apellido,
		edad = @edad,
		sexo = @sexo,
		idNacionalidad = @idNacionalidad,
		idProfesion = @idProfesion
	WHERE idPersona = @idPersona
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTipoProfesion]    Script Date: 9/11/2026 7:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[UpdateTipoProfesion]
	@idProfesion int,
	@descProfesion nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE TipoProfesion
		SET descProfesion = @descProfesion
		WHERE idProfesion = @idProfesion
END

GO
USE [master]
GO
